
  .main {
    width: 100%;
    height: 100vh;
    
  }
  
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
.content{
  background-color: #3a4d5cb6;
  /* position: absolute; */
}

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     /* background-color: #000000cc; */
  }
